*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    width: 80%;
    padding: 20px;
    font-family: 'Kaushan Script', cursive;
}



main {

}